
/* selector{
        property : value;
} */


/* univercel css */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* TAG selector */

body p {
    color: rgb(65, 55, 55);
    font-size: 30px;

}
.para{
    color: brown;
}

.link{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

button{
    color: brown;
    width: 150px;
    height: 60px;
}

/* class selector */

/* id selector */

p.nara{
    font-size: 30px;
    color: rgb(120, 21, 163);
}

/* attribute selector */

.para{
    color: brown;
    color: #ffff;
    color: rgb(255,55, 0);
    color: rgba(2552, 2555, 5555, 0.5);
    color: hsl(108, 47%, 64%);
}

.box{
    width: 470px;
    height: 470px;
    padding: 20px;
    background-color: hsl(108, 47%, 64%);
    box-sizing: border-box;
    border: 5px solid red;
    border-radius: 15px;
}

.box P {
    font-size: 20px;
}



.para-2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration:line-through;
    text-transform: uppercase;
    word-spacing: 5px;
}

.para-3 {
    font-size: 20px;
    font-weight: 900px;
    text-transform: capitalize;
    /* letter-spacing: 20px; */
    word-spacing: 5px;
    line-height: 25px;
    text-indent: 10px;
    /* text-align: justify; */
    
}